.bodybg {
  background: #4f6d7a;
}

div#header {
  background-image: url("/static/sky.jpg");
  background-repeat: no-repeat;
}

.pghdr {
  color: #166088;
}

div#content {
  background-color: #fff;
}

a {
  color: #669bbc;
}

div.parsed {
  font-size: 65%;
  color: #b4881d;
}

table.dish {
  width: 100%;
}

td.tags {
  font-size: 75%;
}

tr.dish {
  border-bottom: 1px dotted black;
}

span.site-comment {
  font-size: 75%;
}

ul.nolist {
  list-style-type: none;
}

.toggledetails {
  font-size: 60%;
  cursor: pointer;
  color: #166088;
}

div.dishes {
  background: #dfe9f0;
  font-size: 90%;
}

div.icon-attrib {
  font-size: 65%;
}
