.bodybg {
  background: #4f6d7a;
}

div#header {
  background-image: url("/static/sky.webp");
  background-repeat: no-repeat;
}

.pghdr {
  font-size: 150%;
}

.pghdr,
.pghdr > a {
  color: #000;
}

div#content {
  background-color: #fff;
}

a {
  color: #166088;
}

div.parsed {
  font-size: 65%;
}

div.tags {
  font-size: 75%;
}

div.dish {
  border-bottom: 1px dotted black;
}

span.desc::after {
  content: " - ";
}

span.site-comment {
  font-size: 75%;
}

ul.nolist {
  list-style-type: none;
}

.toggledetails {
  font-size: 80%;
  cursor: pointer;
  color: #166088;
}

div.dishes {
  background: #dfe9f0;
  font-size: 90%;
}

div.icon-attrib > a {
  font-size: 65%;
  color: #fff;
}
