{% extends "layout.html" %} 
{% block title %}Dishes for site {{ site.name }}{% endblock %} 
{% block header %}
{% filter indent(8, true) | safe %}
<h1 class="pghdr fw-medium text-center"><a href="/">Menu</a> @ {{ site.name }}</h1>
<div class="toggledetails text-center mt-3" onclick="toggledetail();">[ Show / hide all ]</div>

{% endfilter %}
{% endblock %}
{% block content %}
{% filter indent(8, true) | safe %}

{% for restaurant in site.restaurants %}

<div class="restaurant p-2">
  <details open class="">
    <summary>
      {% if restaurant.address and restaurant.map_url %}
      <a href="{{ restaurant.map_url }}" target="_blank">
        <img src="/static/map_64.webp" width="28" height="28" alt="{{ restaurant.address }}" />
      </a>
      &nbsp;&nbsp;
      {% endif %}
      <a href="{{ restaurant.url }}">{{ restaurant.name }}</a>
    </summary>
    <div class="parsed">Updated @ {{ restaurant.parsed_at | datetimeformat(format="short", tz="Europe/Stockholm") }}</div>
    <div class="dishes shadow rounded p-2">
    {% for dish in restaurant.dishes %}
      <div class="tags">
        {% if dish.tags %}
        [{{ dish.tags | join(", ")}}]
        {% else %}
        &nbsp;
        {% endif %}
        {% if dish.comment %}
        <span class="dish-comment">({{ dish.comment }})</span>
        {% endif %}
      </div>
      <div class="dish">
        <span class="name fw-medium">{{ dish.name }}</span>
        <span class="desc">{{ dish.description }}</span>
        <span class="price fw-medium text-decoration-underline text-nowrap">{{ dish.price | stripz }} {{ currency_suffix }}</span>
      </div>
    {% endfor %}
    </div>
  </details>
</div>

{% endfor %}

<br />

{% endfilter %}
{% endblock %}
