{% extends "layout.html" %} 
{% block title %}Dishes for site {{ site.name }}{% endblock %} 
{% block header %}
{% filter indent(8, true) | safe %}
<h1 class="pghdr fw-medium text-center"><a href="/">Menu</a> @ {{ site.name }}</h1>
<div class="toggledetails text-center mt-3" onclick="toggledetail();">[ Show / hide all ]</div>

{% endfilter %}
{% endblock %}
{% block content %}
{% filter indent(8, true) | safe %}

{% for restaurant in site.restaurants %}

<div class="p-2">
  <details open>
    <summary class="mx-1 my-3">
      {% if restaurant.address and restaurant.map_url %}
      <a href="{{ restaurant.map_url }}" target="_blank" class="px-2 py-1">
        <img src="/static/map_64.webp" width="28" height="28" alt="{{ restaurant.address }}" />
      </a>
      {% endif %}
      <a href="{{ restaurant.url }}" target="_blank" class="px-2 py-1">{{ restaurant.name }}</a>
    </summary>
    <div class="parsed">Updated @ {{ restaurant.parsed_at | datetimeformat(format="short", tz="Europe/Stockholm") }}</div>
    <div class="dishes shadow rounded p-2">
    {% for dish in restaurant.dishes %}
      <div class="tags">
        {% if dish.tags %}
        [{{ dish.tags | join(", ")}}]
        {% else %}
        &nbsp;
        {% endif %}
        {% if dish.comment %}
        <span>({{ dish.comment }})</span>
        {% endif %}
      </div>
      <div class="d-flex dish">
        <div class="overflow-auto">
          <span class="fw-medium">{{ dish.name }}</span>
          <span>{{ dish.description }}</span>
        </div>
        <div class="ms-auto ps-1 fw-medium text-decoration-underline text-nowrap">{{ dish.price | stripz }} {{ currency_suffix }}</div>
      </div>
    {% endfor %}
    </div>
  </details>
</div>

{% endfor %}

<br />

{% endfilter %}
{% endblock %}
