<!doctype html>
<!--
Source:        https://github.com/oddlid/rlunch
Build date:    {{ build.build_date }}
Commit date:   {{ build.commit_date }}
Commit hash:   {{ build.commit_hash }}
Commit author: {{ build.commit_author }}
Version:       {{ build.pkg_version }}
-->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block metaextra %}
    <meta name="description" content="Todays menu" />
    {% endblock %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/bootstrap_v5.3.3.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/layout.css" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/static/sky.webp"
      type="image/webp"
    />
    <script async type="text/javascript" src="/static/funcs.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="bodybg">
    <div class="container">
      <div id="header" class="py-5 my-2 rounded">
        {% block header %}
        <!-- Comment just to keep vim from formatting this part into one line -->
        {% endblock %}
      </div>
      <div id="content" class="rounded">
        {%- block content %}
        <!-- Comment just to keep vim from formatting this part into one line -->
        {% endblock %}
      </div>
      <div class="icon-attrib mt-3 text-center">
        <a href="https://www.flaticon.com/free-icons/map" title="map icons">
          Map icons created by Freepik - Flaticon
        </a>
      </div>
    </div>
  </body>
  {% block gtag %}
  <script
    type="text/javascript"
    src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"
  ></script>
  <script type="text/javascript">
    gtag("js", new Date());
    gtag("config", "{{ gtag }}");
  </script>
  {% endblock %}
</html>
