{% extends "layout.html" %} 
{% block title %}Site list{% endblock %} 
{% block header %}
{% filter indent(8, true) | safe %}
<h1 class="pghdr h5 text-center">Choose site</h1>

{% endfilter %}
{% endblock %}
{% block content %}
{% filter indent(8, true) | safe %}

<ul class="nolist m-2 py-3">
{% for country in data.countries %}
  <li>{{ country.name }}</li>
  <ul class="nolist">
  {% for city in country.cities %}
    <li>{{ city.name }}</li>
    <ul class="nolist">
    {% for site in city.sites %}
      <li>
        <a href="/site/{{ site.site_id }}">{{ site.name }}</a>
        {% if site.comment %}
        <span class="site-comment">({{ site.comment }})</span>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% endfor %}
</ul>

{% endfilter %}
{% endblock %}
